@font-face {
    font-family: 'texgyreherosregular';
    src: url('webfonts/texgyreheros_regular/texgyreheros-regular-webfont.eot');
    src: url('webfonts/texgyreheros_regular/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/texgyreheros_regular/texgyreheros-regular-webfont.woff') format('woff'),
         url('webfonts/texgyreheros_regular/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('webfonts/texgyreheros_regular/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreherositalic';
    src: url('webfonts/texgyreheros_italic/texgyreheros-italic-webfont.eot');
    src: url('webfonts/texgyreheros_italic/texgyreheros-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/texgyreheros_italic/texgyreheros-italic-webfont.woff') format('woff'),
         url('webfonts/texgyreheros_italic/texgyreheros-italic-webfont.ttf') format('truetype'),
         url('webfonts/texgyreheros_italic/texgyreheros-italic-webfont.svg#texgyreherositalic') format('svg');
    font-weight: normal;
    font-style: normal;
}